---
layout: default
---

<a
  id="print"
  onclick="window.print()"
  style="cursor:pointer;color:#3f4650;"
>
  <i class="fa fa-print" aria-hidden="true"></i>&nbsp;print
</a>
            
  {% include career-profile.html %}
  {% include experience.html %}
<div class="print-page"></div>
  {% include projects.html %}
<div class="print-page"></div>
  {% include skills.html %}
<div class="print-page"></div>
<hr>
<a
  id="recommendations"
  href="http://fif0o.github.io/JonathanLazarini_resume_linkedin.pdf"
  style="cursor:pointer;color:#3f4650;"
  target="_blank"
>
  <i class="fa fa-file-text-o" aria-hidden="true"></i>
    &nbsp;available recommendations
</a>
