---
layout: short
---

{% include navigation.html %}
<section class="section summary-section short">

    <h1 class="">First Name Last Name - Job Title</h1>
    <h3>address line1</h3>
    <h3>address line2</h3>
    <h3>postcode</h3>
    <h3>City, Country</h3>
    <h3>tel</h3>
    <h3>email</h3>

    <div class="summary">
      <p>details about like address, name, etc...</p>
    </div><!--//summary-->
      
  </section><!--//section-->
{% include career-profile.html %}
<div>certifications</div>
<div>extra curricular</div>
<div>skills</div>
