<section class="about light">
    <h3 class= "dark">{{ site.data.short.identity.fullname }} - {{ site.data.short.identity.jobtitle }}</h3>
    <h5><i class="fa fa-map-marker main"></i>&nbsp;: <span>{{ site.data.short.identity.address }}</span></h5>
    <h5><i class="fa fa-phone main"></i>&nbsp;: <span class="bold dark">{{ site.data.short.identity.tel }}</span></h5>
    <h5><i class="fa fa-pencil main"></i>&nbsp;: <span class="bold dark">{{ site.data.short.identity.email }}</span></h5>
    <h5><i class="fa fa-globe main"></i>&nbsp;: <span>{{ site.data.short.identity.nationality }}</span></h5>
    <h5><i class="fa fa-clock-o main"></i>&nbsp;: <span class="bold">{{ site.data.short.identity.availability }}</span></h5>
    <h6><i class="fa fa-briefcase main"></i>&nbsp;: <span><a href="{{ site.data.short.identity.website }}">{{ site.data.short.identity.website }}</a></span></h6>
    <h6><i class="fa fa-github main"></i>&nbsp;: <span><a href="{{ site.data.short.identity.github }}">{{ site.data.short.identity.github }}</a></span></h6>
  </section>