<div class="remove-container container-block">
  <h2 class="container-block-title">Experience</h2>
  <ul class="list-unstyled interests-list">
    <li>10 years of practicing UX &amp; evangelizing</li>
    <li>6 years of Research activities (Qual/Quant), 4 years of Design &amp; UI development</li>
    <li>3 years as developer</li>
    <li>3 years of nodeJS &amp; js client-side development</li>
    <li>Enthusiast about lean/agile, client/end-user facilitation, ideation &amp; rapid prototyping,</li>
    <li>Pragmatic, creative, resilient and loyal collaborator</li>
  </ul>
</div><!--//About-->