{% if site.data.excerpts %}
  <section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-folder-open"></i>Project Excerpts</h2>

    <div class="summary">
      {% for excerpt in site.data.excerpts %}
        <div
          class="intro"
          style="margin-top:45px;"
        >
          <h4>{{excerpt.project}}</h4>

          <h5>context</h5>
          <blockquote class="blockquote">
            {% for context in excerpt.context %}
              <ul>
                <li>{{context}}</li>
              </ul>
            {% endfor %}
          </blockquote>
          <h5>role</h5>
          <blockquote class="blockquote">
              {% for role in excerpt.role %}
              <ul>
                <li>{{role}}</li>
              </ul>
            {% endfor %}
          </blockquote>
          {% if excerpt.challenge %}
            <h5>challenge(s)</h5>
            <blockquote class="blockquote">
              <p class="mb-0">{{excerpt.challenge}}</p>
            </blockquote>
          {% endif excerpt.challenge %}
          <h5>work</h5>
          <blockquote class="blockquote">
            <p class="mb-0">{{excerpt.description}}</p>
          </blockquote>
          <h5>outcome(s)</h5>
          <blockquote class="blockquote">
            <p class="mb-0">{{excerpt.outcome}}</p>
          </blockquote>
          {% if excerpt.tags %}
            <footer class="blockquote-footer">
              <cite title="Source Title">Tech/Methodologies</cite>
            </footer>
            {% for tags in excerpt.tags %}
              <span
                class="badge badge-pill badge-default"
                style="background-color:transparent;border:1px solid;color:#844ffd;"
              >
                {{tags}}
              </span>
            {% endfor %}
          {% endif %}
        </div><!--//intro-->
      {% endfor%}
    </div><!--//summary-->

  </section><!--//section-->
{% endif %}
