<section class="about light">
    <h3 class= "dark">{{ site.data.short.identity.fullname }} - {{ site.data.short.identity.jobtitle }}</h3>
    <h5><i class="fa fa-map-marker"></i>&nbsp;: <span>{{ site.data.short.identity.address }}</span></h5>
    <h5><i class="fa fa-phone"></i>&nbsp;: <span class="bold dark">{{ site.data.short.identity.tel }}</span></h5>
    <h5><i class="fa fa-pencil"></i>&nbsp;: <span class="bold dark">{{ site.data.short.identity.email }}</span></h5>
    <h5><i class="fa fa-globe"></i>&nbsp;: <span>{{ site.data.short.identity.nationality }}</span></h5>
    <h5><i class="fa fa-clock-o"></i>&nbsp;: <span class="bold">{{ site.data.short.identity.availability }}</span></h5>
    <h6><i class="fa fa-briefcase"></i>&nbsp;: <span>{{ site.data.short.identity.website }}</span></h6>
    <h6><i class="fa fa-github"></i>&nbsp;: <span>{{ site.data.short.identity.github }}</span></h6>
  </section>